<!-- footor start -->
<div class="container-fluid lap1">
    <div class="container text-center">
      <div class="lap"><br>
      <h1>SIGN UP TO OUR BLOGGER.COM !</h1><br>
         <p style="text-align: center;color: white;font-family: sans-serif;">If you enjoyed this post, please feel free to share it...</p><br>
         <input type="text" name="" placeholder="Enter Your email adress..."><br>
        <a href="" class="btn mt-5 shadow-lg login text-center" style="color: #ffffff;
        font-weight: bolder; background-color: #fbac29;">LOGIN</a><br>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center"style="background-color: #013f57eb;">
      <div class="container">
        <div class="row">
         <h6 class="text-white py">Copyright © Designed by:<b style="color:#ff9307;">Vishwas Gupta</b>
              </a> All right reserved.</h6>
        </div>
      </div>
  </div>
  <!-- footor end -->
</body>
</html>