.bloglogo {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-left: 50px;
}

.navbar-nav li {
  padding: 5px 30px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  font-size: 20px;
}

.navbar {
  background: black;

}

/* home css start*/
.blogboxes {
  display: flex;
}

.blogbox {
  margin: 20px 0;
  font-size: 22px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}

.per {
  text-align: center;
  text-transform: uppercase;
  color: #666;
  font-size: 18px;
}

.btn {
  font-weight: 400;
  background-color: #f79d16;
  color: #ffff;

}



.kar {
  padding: 0%;


}


/* home css end */

/* about css start */
.h-hed {
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 3px;
  margin-top: 100px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 40px;
  color: #386576;
}

.p12 {
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 30px;
  text-align: justify;
  padding-right: 5px;
  color: #18232b;
  font-size: 16px;

}

.journey {
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: #fbac29;
}

/* about css start */
.h-hed {
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 3px;
  margin-top: 100px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 40px;
  color: #386576;
}

.p12 {
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 30px;
  text-align: justify;
  padding-right: 5px;
  color: #18232b;
  font-size: 16px;

}

.journey {
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: #fbac29;
}






/* about css end */


/*login css start*/
.login-wrap {
  background: linear-gradient(#472929cc, #000000cc),
    url(https://personalblogweb-himanshu-v3pu.onrender.com/assets/images/photopix.jpg);
  background-size: cover;
  width: 100%;
  height: 730px;
}

.mt-5 {
  margin-top: 5rem !important;
}

.login-box {
  box-shadow: 1px 1px 7px #666;
  padding: 20px;
  margin-top: 10%;
  background: rgb(37, 35, 35);
}

.login-box h1 {
  font-size: 38px;
  color: white;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.login-box p {
  font-size: 12px;
  font-weight: 600;
}

.btn-danger {
  color: white;
  background: orange;
  padding: 10px 27px;
  border-radius: 20px;
  border: 0;
}

.reg {
  color: orange;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  border: 0;
  outline: 0;
  padding: 0;
  margin-left: 2px;
}







/* footer css start*/
.lap1 {
  height: 160px;
  width: 100%;
  background-color: black;
}

.lap h1 {
  color: white;
  font-family: 'prague';
  font-size: 20px;
  font-weight: 500;
  /*line-height: 1.2;*/

}

.py {
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding-top: 25px;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ms-5 {
  margin-left: 3rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.socialicons a {
  padding: 8px 93px;
  background: #003a50;
  color: #fff;
  font-size: 35px;
}

/*dashboard css*/

.list-group a {
  text-decoration: none;
}

/*dashboard css end*/

/*display blog*/

.blog {
  display: inherit;
}

.opt {
  display: flex;
  justify-content: center;

}

/*display blog end*/


/* details page read more css */
.dt {
  font-family: 'poppins';
  font-size: 30px;
  line-height: 5px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.mo {
  font-size: 20px;
  line-height: 20px;
  line-break: auto;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 400;

}

.details-image {
  width: 500px;
  height: 250px;
}

.recentitem-image {
  height: 70px;
  width: 90px;
}